.DS_Store
.Trash
.bash_history
.bash_sessions
.cache
.cups
.git
.global-modules
.local
.m2
.node-gyp
.node_repl_history
.npm
.npm-packages
.python_history
.tmux
.vim
.viminfo
.vscode
Applications
Desktop
Documents
Downloads
IdeaProjects
Library
Movies
Music
Pictures
Public
VirtualBox VMs
cam
dev
learn
